Mizzou just dropped new Covid stats. Download the archived data 👉 {csv_url}.

- {} active student cases ({} of the student body)
- {} recovered student cases
- {} student cases have been reported in Boone County since Aug. 19
- {} faculty cases have been reported since Aug. 16
  - {} have recovered
- {} staff cases since Aug. 16
  - {} have recovered